.pokemon_image {
	width: 46%;	
	margin: 2%;
	float: left;
	background-color: #cccccc;
}

.pokemon_image img {
	width: 90%;
	margin: 5%;
}

.pokemon_info {
	width: 46%;
	margin: 2%;
	float: left;
}

.pokemon_info h1 {
	font-size: 24px;
}

.pokemon_info h2 {
	font-size: 16px;
}

#bar_container {
	margin-top: 10px;
}

.bar {
	fill: #202020;
}

.bar-text {
	text-anchor: middle;
	font-size: 12px;
}

.white {
	fill: white;
}
.back {
	color: white;
	font-size: 24px !important;
	position: absolute;
	left: 34px;
	top: 17px;
}

@media (max-width: 768px) {
	.back {
		color: white;
		font-size: 24px !important;
		position: absolute;
		left: 20px;
		top: 17px;
	}
}