body {
  font: 11px sans-serif;
  font-weight: 400;
  text-align: center;
  background: #202020;
  color: #ff0000;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  margin: 25px 0px 25px 0px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.dot {
  stroke: none;
}

.tooltip {
  background: #fff;
  color: #202020;
  border-radius: 5px;
  position: absolute;
  pointer-events: none;
  text-align: left;
  opacity: .25;
  width: 252px;
  height: 352;
}

.scatterplot {
  float: left;
}

.infobox {
	background: #fff;
	color: #202020;
	position: absolute;
	padding: 10px
	text-align: left;
	opacity: .75;
}

.wrap {
  width: 1050px;
  margin: 0 auto 0;
}

table {
  width: 85%;
  margin: 0 auto 0;
  text-align: left;
}

.arc path {
  stroke: #fff;
}

.th_n {
    padding: 30px 2px;
    text-align: center;
    transform: rotate(-90deg);
}

td {
    padding: 1px 2px;
    text-align: center;
}

.eggHeader {
    padding: 20px 5px;
    text-align: center;
}

.pokeTooltip { 
  background: #fff;
  color: #202020;
  border-radius: 5px;
  position: absolute;
  text-align: left;
  opacity: .25;
  width: 252px;
  height: 352; 
}

.abilititesSection {
  background: white;
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 1;
}
